body {
    background: #333333;
    
}

.column {
    padding: 0;
}

.container {
    text-align: center;
}

.title {
    font-size: 35px;
    color: #fff;
    font-family: 'Signika', sans-serif;

}

.subtitle {
    color: #fff;
}

.top {
    padding-top: 50px;
}

@media (min-width: 1025px) {

    .columns-2 {
        max-width: 250px;
    }
}